DATABASE_URL=postgresql://postgres:postgres@db:5432/inventory_db
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_DB=inventory_db

FRONTEND_URL=http://localhost:3000

SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_USER=ajayk298891@gmail.com
SMTP_PASSWORD=baio iyrr wqmb woca
SMTP_FROM_EMAIL=noreply@example.com
